@import url('https://fonts.googleapis.com/css2?family=Modak&family=Roboto&display=swap');

$HeroFont: 'Modak', cursive;
$OtherFonts: 'Roboto', sans-serif;
$HeroLoginColor: #FFFFFF;
$HeaderFontSize: 1.7vw;
$BoxColor: #460808;
$RegisterColor: #FF0000;
